# Backend
Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
python-decouple==3.8 # Para variables de entorno
pillow==11.0.0 # Para manejo de imágenes
django-cors-headers==4.6.0 # Para manejo de cors
django-rest-swagger==2.2.0 # Documentación API

# Database
mysqlclient==2.2.6

# Deploy
gunicorn==23.0.0